html { 
    font-family: sans-serif; 
    background: rgb(0, 0, 0); 
    padding: 1rem;
  }
  
  body {
    max-width: 1200px; 
    margin: 0 auto; 
    background: rgb(20, 247, 20);
  }

  .cabecalho{
    position:relative;
    color: rgb(0, 0, 0); 
    font-family: cursive;
    
   }
  
  .menu{
    text-align: center;
    background-color: rgb(255, 230, 10);
       
  }

  .menu a{
    color: rgb(0, 0, 0);
      font-size: 22px;
      font-family: cursive;
      padding: 15px;
      flex: auto;
  }

  .mold{
    position: relative;
    left: 25%;
  
  }


  #moldura{
    width: 650px;
    height: 500px;
    background-color:rgb(230, 230, 230);
    transition: background-image 1s;
    text-align: center;	
}

.moldbt{
  position: relative;
  text-align: center;
}

.postagens{
  font-style: italic;
}

